<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Digiball Soccer</title>
        <meta charset="UTF-8">

        <meta name="description" content="Digiball is a fun interactive soccer game that will test your goalscoring skills! Let's see if you can make it to the Top 8 Leaderboard!">

        <!-- Mobile Viewport -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        
         <script type="text/javascript" src="js/phaser.min.js"></script>
         <script type="text/javascript" src="js/boot.js"></script>
         <script type="text/javascript" src="js/load.js"></script>
         <script type="text/javascript" src="js/menu.js"></script>
         <script type="text/javascript" src="js/play.js"></script>
         <script type="text/javascript" src="js/win.js"></script>
         <script type="text/javascript" src="js/leaderboard.js"></script>
         <script type="text/javascript" src="js/instructions.js"></script>
         <script type="text/javascript" src="js/game.js"></script>
    </head>    
    <body>
        {{{ body }}}
        <script src="js/phaser-input.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    </body>
</HTML>