<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Soccer Game</title>
        <meta charset="UTF-8">
         <script type="text/javascript" src="js/phaser.min.js"></script>
         <script type="text/javascript" src="js/boot.js"></script>
         <script type="text/javascript" src="js/load.js"></script>
         <script type="text/javascript" src="js/menu.js"></script>
         <script type="text/javascript" src="js/play.js"></script>
         <script type="text/javascript" src="js/win.js"></script>
         <script type="text/javascript" src="js/game.js"></script>

          <!-- Bootstrap CSS -->
		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <body>
        <div id="gameDiv">
        {{{ body }}}
        </div>
    </body>
</HTML>