<style>
body {
  background-image: url("images/football-field.jpg");
  font-family: Arial;
  color: white;
}
</style>
<center><h1>Digiball Leaderboard</h1></center>
<table style="width:100%">
  <tr>
    <th>Player</th>
    <th>Score</th> 
  </tr>
  <tr>
    {{#each leader_data}}
    <td>{{name}}</td>
    <td>{{score}}</td> 
    {{/each}}
  </tr>
</table>

